.weeklyimg {
  height:225px;
  width:225px;
}

.fontsize{
  font-size:18px;
}

/* Style the navbar */
#navbar{
	width: 100%;
	background-color: #3A9DFA;
	overflow: hidden;
	display: table;
	z-index: 1;
	left: 0;
	margin: 0;
}

/* Navbar links */
#navbar a{
	padding: 5px;
	color: Black ;
	text-decoration: none;
	font-size: 18px;
	text-align: center; /* If you want the text to be centered */
	width: auto;
	display: table-cell;
	border: 0.15px solid #3A9DFA;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 80%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

h4{
  color: #3A9DFA;
}
