.weeklyimg {
  height:225px;
  width:225px;
}

.fontsize{
  font-size:18px;
}

/* Style the navbar */
#navbar{
  position: fixed;
  z-index:1;
  width: 90%;
  height:auto;
  top: 0;
  right:0;
  left:0;
  margin: 0 auto;
  background-color:#3A9DFA;
}

/* Page content */
.content {
  padding: 16px;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  background-color:#3A9DFA;
  text-decoration: none;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  height:auto;
}

.video{
    max-width:560px;
    max-height:315px;
    margin:auto;
    justify-content: center;
}

/*THIS IS TO SCALE YT VIDEOS*/

/* Set your aspect ratio */
.video-container {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%; /* creates a 16:9 aspect ratio */
}

.video-container iframe,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

/* And set the max-width of the parent element */
.video-wrap {
  width: 100%;
  max-width: 600px;
}

.topnav .icon {
  display: none;
}

.topnav #myLinks {
  display: none;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* this is for the drop downs */


/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #3A9DFA;
  color: #ffffcc;
  cursor: pointer;
  padding: 18px;
  width: 80%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #3A9DFA;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.words {
  padding: 0 18px;
  background-color: #ffffcc;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  vertical-align:center;
  border-style:solid;
  border-color: #3A9DFA;
  border-width:1px;
  width:80%;
}


#more {display: none;}